<ion-header>
  <ion-toolbar>
    <ion-title>{{ "GAME_CONFIG_TITLE" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">{{ "CANCEL" | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">{{
        "SESSION_NAME" | translate
      }}</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{
        "INITIAL_MONEY" | translate
      }}</ion-label>
      <ion-input type="number" formControlName="initialMoney"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{
        "BOARD_CONFIG" | translate
      }}</ion-label>
      <ion-input formControlName="boardConfig"></ion-input>
    </ion-item>

    <ion-item button detail (click)="openPlayersModal()">
      <ion-label>{{ "SELECT_PLAYERS" | translate }}</ion-label>
    </ion-item>

    <ion-list *ngIf="selectedPlayers.length > 0">
      <ion-item *ngFor="let p of selectedPlayers">
        <ion-avatar slot="start" *ngIf="p.image">
          <img [src]="p.image" />
        </ion-avatar>
        <ion-label>{{ p.name }}</ion-label>
        <ion-icon
          *ngIf="bankPlayerId === p.id"
          name="cash-outline"
          color="success"
          slot="end"
        ></ion-icon>
      </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="save()">
      {{ "START_GAME" | translate }}
    </ion-button>
  </form>
</ion-content>
