.error {
      color: red;
      font-size: 0.8em;
      margin-top: 0.2em;
      margin-bottom: 0.2em;
      border: 1px solid red;
      padding: 0.5em;
      background-color: #f8d7da;
      border-radius: 0.25em;
      margin-bottom: 1em
}