<app-header title="GAME_SESSION"></app-header>

<ion-content class="ion-padding">
  <!-- No hay juego activo todavía -->
  <div *ngIf="!hasActiveGame" class="ion-text-center" style="margin-top: 5em">
    <p>{{ "NO_ACTIVE_GAME" | translate }}</p>
    <ion-button expand="block" color="primary" (click)="startNewGame()">
      {{ "START_NEW_GAME" | translate }}
    </ion-button>
  </div>

  <!-- Hay juego guardado pero no iniciado en memoria -->
  <div
    *ngIf="hasActiveGame && !gameState"
    class="ion-text-center"
    style="margin-top: 5em"
  >
    <ion-button expand="block" color="primary" (click)="continueGame()">
      {{ "CONTINUE" | translate }}
    </ion-button>
    <ion-button expand="block" color="medium" (click)="startNewGame()">
      {{ "START_NEW_GAME" | translate }}
    </ion-button>
  </div>

  <div *ngIf="gameState">
    <h2>{{ "TURN" | translate }} {{ gameState.turnNumber }}</h2>

    <ion-button expand="block" color="primary" (click)="nextTurn()">
      {{ "NEXT_TURN" | translate }}
    </ion-button>

    <h3>{{ "PLAYERS" | translate }}</h3>
    <ion-list>
      <ion-item
        *ngFor="let player of players"
        [ngClass]="{ 'current-player': player.id === currentPlayerId }"
      >
        {{ player.name }} - {{ "CASH" | translate }}:
        {{ getPlayerCash(player.id) }} - {{ "PROPERTIES" | translate }}:
        {{ getPlayerPropertiesLength(player.id) }}
        <ion-icon
          *ngIf="player.id === currentPlayerId"
          name="arrow-forward-circle-outline"
          color="primary"
          slot="end"
        ></ion-icon>
      </ion-item>
    </ion-list>

    <h3>{{ "ACTIONS" | translate }}</h3>

    <ion-item>
      <ion-label position="floating">{{ "ENTER_STEPS" | translate }}</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="moveSteps"
        placeholder="2-12"
        min="2"
        max="12"
        step="1"
        (ionChange)="onStepsChange()"
      ></ion-input>
    </ion-item>

    <ion-text color="danger" *ngIf="moveStepsError">
      {{ moveStepsError | translate }}
    </ion-text>

    <ion-button expand="block" (click)="movePlayer()">
      {{ "MOVE_PLAYER" | translate }}
    </ion-button>

    <ion-button expand="block" color="success" (click)="buyProperty(1)">
      {{ "BUY_PROPERTY" | translate }}
    </ion-button>
    <ion-button expand="block" color="tertiary" (click)="payRent(1, 2)">
      {{ "GAME_SESSION_PAY_RENT" | translate }}
    </ion-button>
    <ion-button expand="block" color="danger" (click)="endGame()">
      {{ "END_GAME" | translate }}
    </ion-button>

    <h3>{{ "GAME_SESSION_LOG" | translate }}</h3>
    <div *ngFor="let entry of gameState.log">{{ entry }}</div>
  </div>
</ion-content>
