<app-header title="SETTINGS"></app-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{ 'SELECT_LANGUAGE' | translate }}</ion-label>
      <ion-select
        [(ngModel)]="selectedLanguage"
        (ionChange)="changeLanguage($event)"
        slot="end"
        style="min-width: 120px; text-align: right"
      >
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="es">Español</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="onSave()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
